{% extends 'dashboard/index.html' %}
   {% block footer %}
    {% comment %} FOOTER {% endcomment %}
    <footer class="container-fluid" style="margin-top: 0px;">
        <div class="justify-content-center py-5" bis_skin_checked="1">
            <div class="col-11" bis_skin_checked="1">
                <div class="row " bis_skin_checked="1">
                    <div class="col-xl-8 col-md-4 col-sm-4 col-12   my-auto mx-auto a" bis_skin_checked="1">
                        <img src="/static/payment/img/logo_8pay_blanco.png" class="roundedimg" sytel="border-top-left-radius: 25px" width="70" alt="Comercio de Prueba">
                        <h6 class="text-muted mb-md-0 mb-5 bold-text"><span>by TECH 8 FOOTER BLOQUE</span></h6>
                    </div>
                    <div class="col-xl-2 col-md-4 col-sm-4 col-12" bis_skin_checked="1">
                        <h6 class="mb-3 mb-lg-4 bold-text "><b>MENU</b></h6>
                        <ul class="list-unstyled">
                            <li><a class="text-muted" href = "https://www.8pay.cl" target = "_blank">Home</a></li>
                            <li><a class="text-muted" href = "https://documenter.getpostman.com/view/22602677/2s847LNXRM#a0ce4764-b268-4f43-a68b-0337d0641863" target = "_blank">API - beta</a></li>
                            <li><a class="text-muted" href = "https://documenter.getpostman.com/view/22602677/2s847LNXRM" target = "_blank">Documentación</a></li>
                        </ul>
                    </div>
                    <div class="col-xl-2 col-md-4 col-sm-4 col-12" bis_skin_checked="1">
                        <h6 class="mb-3 mb-lg-4 bold-text mt-sm-0 mt-5"><b>DIRECCIÓN</b></h6>
                        <p class="mb-1 text-muted">Álvarez 1136, oficina C,</p>
                        <p class="text-muted">Viña del Mar</p> 
                    </div>
                </div>
                <div class="row " bis_skin_checked="1">
                    <div class="col-xl-8 col-md-4 col-sm-4 col-auto  my-md-0 mt-5 order-sm-1 order-3 align-self-end" bis_skin_checked="1">
                        
                        
                    </div>
                    <div class="col-xl-2 col-md-4 col-sm-4 col-auto order-1 align-self-end " bis_skin_checked="1">
                        <h6 class="mt-55 mt-2 bold-text">
                            <b>CONTÁCTO</b>
                        </h6>
                    <a class="text-muted" href = "mailto: contacto@8pay.cl">contacto@8pay.cl</a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    {% endblock %}